<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<div th:replace="~{fragment :: meta}"></div>
	<div th:replace="~{fragment :: styles}"></div>
	<title>予約一覧</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>

<body>
	<div class="samuraitravel-wrapper">
		<!-- ヘッダー -->
		<div th:replace="~{fragment :: header}"></div>

		<main>
			<div class="container samuraitravel-container pb-5">
				<div class="row justify-content-center">
					<div class="col-xxl-9 col-xl-10 col-lg-11">
						<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a th:href="@{/}">ホーム</a></li>
								<li class="breadcrumb-item active" aria-current="page">予約一覧</li>
							</ol>
						</nav>

						<h1 class="mb-3 text-center">予約一覧</h1>

						<div th:if="${param.reserved}" class="alert alert-info">
							予約が完了しました。
						</div>

						<table class="table mt-5">
							<thead>
								<tr>
									<th scope="col">店舗名</th>
									<th scope="col">予約日</th>
									<th scope="col">予約時刻</th>
									<th scope="col">予約人数</th>
									<th scope="col">料金目安</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="reservation : ${reservationPage}">
									<td>
										<a th:href="@{/houses/__${reservation.house.id}__}"
											th:text="${reservation.house.name}"></a>
									</td>
									<td
										th:text="${#temporals.format(reservation.getReservationDate(), 'yyyy-MM-dd')}">
									</td>
									<td th:text="${#temporals.format(reservation.getReservationTime(), 'HH:mm')}"></td>
									<td th:text="${reservation.numberOfPeople + '名'}"></td>
									<td th:text="${#numbers.formatInteger(reservation.amount, 1, 'COMMA') + '円'}">
									</td>
								</tr>
							</tbody>
						</table>

						<!-- ページネーション -->
						<div th:if="${reservationPage.getTotalPages() > 1}" class="d-flex justify-content-center">
							<nav aria-label="予約一覧ページ">
								<ul class="pagination">
									<li class="page-item">
										<span th:if="${reservationPage.first}" class="page-link disabled">前</span>
										<a th:unless="${reservationPage.first}"
											th:href="@{/reservations(page=${reservationPage.number - 1})}"
											class="page-link samuraitravel-page-link">前</a>
									</li>
									<li th:each="i : ${#numbers.sequence(0, reservationPage.totalPages - 1)}"
										class="page-item">
										<span th:if="${i == reservationPage.number}"
											class="page-link active samuraitravel-active" th:text="${i + 1}"></span>
										<a th:unless="${i == reservationPage.number}"
											th:href="@{/reservations(page=${i})}"
											class="page-link samuraitravel-page-link" th:text="${i + 1}"></a>
									</li>
									<li class="page-item">
										<span th:if="${reservationPage.last}" class="page-link disabled">次</span>
										<a th:unless="${reservationPage.last}"
											th:href="@{/reservations(page=${reservationPage.number + 1})}"
											class="page-link samuraitravel-page-link">次</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- フッター -->
		<div th:replace="~{fragment :: footer}"></div>
	</div>

	<div th:replace="~{fragment :: scripts}"></div>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
	<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
	<script>
		document.addEventListener('DOMContentLoaded', function () {
			let maxDate = new Date();
			maxDate.setMonth(maxDate.getMonth() + 3); // 最大日付を現在から3ヶ月後に設定

			let now = new Date();
			let currentMinutes = now.getMinutes();
			let nextAvailableTime = new Date(now);

			if (currentMinutes < 30) {
				nextAvailableTime.setMinutes(30);
			} else {
				nextAvailableTime.setHours(nextAvailableTime.getHours() + 1);
				nextAvailableTime.setMinutes(0);
			}

			let nowFormatted = nextAvailableTime.getHours().toString().padStart(2, '0') + ':' + nextAvailableTime.getMinutes().toString().padStart(2, '0');

			flatpickr('#reservationDateTime', {
				enableTime: true, // 時間を有効にする
				enableSeconds: false, // 秒の選択を無効にする
				dateFormat: "Y-m-d H:i", // 日付フォーマットを指定
				locale: 'ja',
				minDate: 'today',
				maxDate: maxDate,
				time_24hr: true, // 24時間制を使用
				minuteIncrement: 30, // 30分単位で選択可能にする
				minTime: now.getHours() + ":" + now.getMinutes(), // 現在時刻をminTimeに設定
				maxTime: "21:00", // 最大時間
				onChange: function (selectedDates, dateStr, instance) {
					if (selectedDates.length > 0) {
						let selectedDate = selectedDates[0];
						if (selectedDate.toDateString() === now.toDateString()) {
							// 今日の日付が選択された場合は、現在の時刻以降を選択可能にする
							instance.set('minTime', now.getHours() + ":" + now.getMinutes());
						} else {
							// 他の日付が選択された場合は、10:00以降を選択可能にする
							instance.set('minTime', "10:00");
						}
					}
				}
			});
		});
	</script>
</body>

</html>